@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

:root {
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
    --emerald: oklch(76.5% 0.177 163.223);
}

body.light {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
}

body {
    background-color: var(--bg-dark);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
}

a {
    text-decoration: none;
}

.navbar {
    display: flex;
    flex: auto;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: center;
    margin-top: 1.5rem;
    margin-left: 2rem;
    margin-right: 2rem;
    gap: 4rem;
    
}

#name {
    justify-content: flex-start;
    margin-right: 35.5rem;
    color: var(--text);
    font-weight: 800;
}

.nav {
    justify-content: space-evenly;
    color: var(--text);
    font-weight: 500;
}

.nav:hover {
    color: var(--emerald);
    transition-duration: 0.3s;
}

#settings {
    fill: var(--text);
    height: 1.75rem;
    width: auto;
}

#settings:hover{
    fill: var(--emerald);
    transition-duration: 0.3s;
}

.h1 {
    color: var(--text-muted);
}

.download {
    color: var(--text);
    background-color: var(--emerald);
    height: 50px;
    width: 150px;
    border: none;
    border-radius: 15px;
    font-weight: 800;
}