:root {
    --bg-dark: hsl(0 0% 0%);
    --bg: hsl(0 0% 5%);
    --bg-light: hsl(0 0% 10%);
    --text: hsl(0 0% 95%);
    --text-muted: hsl(0 0% 70%);
}

body.light {
    --bg-dark: hsl(0 0% 90%);
    --bg: hsl(0 0% 95%);
    --bg-light: hsl(0 0% 100%);
    --text: hsl(0 0% 5%);
    --text-muted: hsl(0 0% 30%);
}

body {
    background-color: var(--bg-dark);
}

.navbar {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 1.5rem;
    margin-left: 2rem;
    gap: 10px;
    
}

#name {
    flex: auto;
    margin-right: 20rem;
    color: var(--text);
}

.nav {
    flex: auto;
    color: var(--text);
}