* {
    margin: 0;
    padding: 0;
}

:root {
    /*Colors*/
    --primary: hsl(161, 100%, 42%);
    --secondary: hsl(281, 100%, 42%);
    --tertiary: hsl(41, 100%, 42%);

    --bg-dark: hsl(235, 5%, 0%);
    --bg: hsl(235, 5%, 5%);
    --bg-light: hsl(235, 5%, 10%);

    --text: hsl(0, 5%, 95%);
    --text-muted: hsl(0, 5%, 70%);

    --shadow1: 
    inset 0 1px 2px #ffffff30,
    0 1px 2px #00000030,
    0 2px 4px #00000015;
    --shadow2: 
    inset 0 1px 2px #ffffff50,
    0 2px 4px #00000030,
    0 4px 8px #00000015;
    --shadow3: 
    inset 0 1px 2px #ffffff70,
    0 4px 6px #00000030,
    0 6px 10px #00000015;;

    /*Typography*/
    --font: "Rubik", sans-serif;

    --h1: 700 5.61rem var(--font);
    --h2: 700 4.209rem var(--font);
    --h3: 700 3.175rem var(--font);
    /*--h4: 2.369rem;
    --h5: 1.777rem;
    --h6: 1.333rem;*/
    --p: 400 1rem var(--font);
    --small: 400 0.75rem var(--font);
    --tiny: 400 0.563rem var(--font);
}

html {
    scroll-behavior: smooth;
}

body {
    display: grid;
    text-wrap: balance;
    font: var(--p);
    background: var(--bg);
    color: var(--text);
    overflow-x: hidden;
}

body.light {
    --primary: hsl(161, 100%, 58%);
    --secondary: hsl(281, 100%, 58%);
    --tertiary: hsl(41, 100%, 58%);

    --bg-dark: hsl(235, 5%, 90%);
    --bg: hsl(235, 5%, 95%);
    --bg-light: hsl(235, 5%, 100%);

    --text: hsl(235, 5%, 5%);
    --text-muted: hsl(235, 5%, 30%);
}

h1 {
    font: var(--h1);
}

h2 {
    font: var(--h2);
}

h3 {
   font: var(--h3); 
}

a {
    color: var(--text);
    text-decoration: none;
}

a:hover {
    color: var(--primary);
}

ul {
    list-style: none;
}

button {
    color: var(--text);
    background-color: var(--bg-light);
    border: none;
    font-weight: 500;
}

header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    height: 720px;
    margin: 1rem;
}

header .navbar {
    grid-column-start: 1;
    grid-column-end: 1;
    grid-row-start: 1;
    grid-row-end: 1;
}

header .nav-settings {
    grid-column-start: 2;
    grid-column-end: -1;
    grid-row-start: 1;
    grid-row-end: 1;
}

.navbar {
    display: flex;
    position: sticky;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 3.75rem;
    width: 100%;
    max-width: 1410px;
    padding: 0 0.5em 0 0.5em;
    background-color: var(--bg-light);
    font-weight: 500;
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--shadow1);
}

.navbar ul {
    display: flex;
    gap: 1rem;
}

.navbar li {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 3.125rem;
    width: 11.75rem;
    max-width: 100%;
    border-radius: 0.5rem;
}

.navbar li:focus{
    background-color: var(--primary);
    color: var(--text);
    transition: 0.3s ease-out;
}

#logo {
    height: 2.25rem;
    width: 2.25rem;
}

.nav-settings {
    display: flex;
    position: sticky;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    margin-left: 0.75rem;
    height: 3.75rem;
    width: 3.75rem;
    border: none;
    border-radius: 0.5rem;
    box-shadow: var(--shadow1);;
}

#settings {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 50px;
    width: 50px;
    border: none;
    border-radius: 0.5rem;
}

#settings:focus{
    background-color: var(--primary);
    color: var(--text);
    transition: 0.3s ease-out;
}

#settings svg {
    height: 2rem;
    width: 2rem;
}

#settings svg:hover {
    color: var(--primary);
}

#hero {
    display: grid;
    justify-content: center;
    align-items: center;
    height: 720px;
    width: 1428px;
}